*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
  margin: 0;
  padding: 0;
}

.navbar{
  /* background-color: red; */
  display: flex;
  padding: 12px ;
}

nav .logo{
  width: 167px;
  height: 175px;
  flex-shrink: 0;
}

.navbar-links{
  /* float: right; */
}

.navbar-links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  text-transform: capitalize;
}

.navbar-links li{
  display: inline-block;
}

a{
  text-decoration: none;
  color: black;
} 

.container{
  padding: .75em;
  margin-bottom: 3.75em;
}

.tasty-food{
  
}

.tasty-food h1{
  margin-top: 1.75em;
  margin-left: 2.75em;
}

.tasty-food .description img{
  margin-top: 3.75rem;
  margin-left: 30rem;
  width: 167px;
  height: 175px;
  flex-shrink: 0;

}

.tasty-food .description-text{ 
  /* margin-top: 1rem; */
  margin-left: .75em;
  text-transform: capitalize;
  font-size: 1em;
}

.container button{
  margin: 3rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1em;
  background-color: #F8B15E;
}

.recipe-container{
  padding: 3rem;
  background: #F8B15E;
}

.recipe-images{
 display: block;
}

/* .footer{
  padding: ; 
  background-color: black;
  color: #FFF;
  display: flex;
} */

footer .social-media-icons{
  display: flex;
  flex-direction: column;
  color: #FFF;
}

footer .nav-links a{
  display: flex;
  color: #FFF;
}





