*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  margin: 0;
  padding: 0;

  --navbar-link-bgk-color: #dcdcdc;
  --recipe-container-bg-color: #F8B15E;
  --navbar-links-li-a-color: #000;
  --navbar-link-bg-color: #f39c9c;

  --a-text-decoration: none;
  --text-font-family: Poppins,sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1%;
}

.navbar-links{
  display: flex;
  margin-right: 10px;
  /* position: fixed; */
  justify-content: space-between;
  text-transform: capitalize;
}

.navbar-links ul {
  display: flex;
  justify-content: space-between;
}

.navbar-links ul li {
  list-style: none;
  padding: 0 10px;
  /* float: right; */
  justify-content: space-between;
  border-radius: 30px;
  background-color: var(--navbar-link-bgk-color);
}

.navbar ul li a {
  display: inline-block;
  min-width: 80px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: Poppins, sans-serif;
  text-decoration: var(--a-text-decoration);
  color: var(--navbar-links-li-a-color);
}

/* .navbar-links li ul{
  display: none;
} */
/* 
.navbar-links li ul li {
  display: block;
  float: none;
} */

/* .navbar-links li ul li a{
  width: auto;
  min-width: 100px;
  padding: 0 200px;
} */

/* @media screen and (max-width : 760px) {
  ul{
    position: static;
    display: none;
  }

  li{
    margin-bottom: 1px;
  }

  ul li, li a{
    width: 100%;
  }
  
} */

.container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-gap: 0px;
  /* padding: .75em;
  margin-bottom: 3.75em; */
  width: 100%;
}

.tasty-food {
  padding: 0px;
  margin-top: 25px;
  /* border: #000 solid; */
}

.tasty-food h1 {
  color: var(--navbar-links-li-a-color);
  text-align: center;
  font-size: 96px;
  font-family: Potta One, sans-serif;
  line-height: 100%;
  margin-bottom: 50px;
}

.tasty-food .description-text p {
  margin-left: 90px;
  display: flex;
  width: 777px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-size: 36px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.tasty-food button {
  margin: 5em;
  width: 10em;
  height: 6vh;
  border-radius: 1.15em;
  line-height: 5px;
  background-color: #F8B15E;
}

.tasty-food button a{
  text-decoration: var(--a-text-decoration);
  color: var(--navbar-links-li-a-color);
  font-family: var(--text-font-family);
}

.description-image {
  padding: 10px;  
  /* background: var(--navbar-link-bg-color)url("./tasty-food/Assets/Images/Pan-Seared-Salmon-with-kale-and-apple-salad-1.png"), lightgray 50% / cover no-repeat; */
}

.description-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.recipe-container {
  /* padding: 3em; */
  width: 100%;
  /* height: 752px; */
  flex-shrink: 0;
  background: var(--recipe-container-bg-color);
}

.recipe-images {
  /* padding: 35px; */
  justify-items: center;  
}

.recipe-images img{
  height: 44vh;
  /* width: 'fit-content''-moz-fit-content'; */
  /* margin-top: 30px; */
  /* line-height: 140px; */
}


.footer{
  padding: ; 
  background-color: black;
  color: #FFF;
  display: flex;
}

footer .social-media-icons {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

footer .nav-links a {
  display: flex;
  color: #FFF;
}